html, body{
    margin: 0px;
    height: 100%;

}

.featurette-divider{
    color:white;
}

h3{
    color: white;
    font-size: 10px;
}

p{
    color: white;
    font-size: 14px;
    text-align: justify;
}

.rules{
    width: 33%;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    position: absolute;
    z-index:1;
}

#map{
    height: 100vh;
}

.logoimg{
    text-align: center;
    padding: 20px;
}

.logo{
    width: 20vw;
}

.form-control{
    background-color: rgba(255, 255, 255, 0);    
    border: 1 white;
    color: white;
}

.options button{
    width: 106px;   
}




